In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances
import pickle

In [5]:
ratings=pd.read_excel(r'C:\Users\Shubham Jagtap\Desktop\DemoRecommend\New_users.xlsx')
trails=pd.read_excel(r'C:\Users\Shubham Jagtap\Desktop\DemoRecommend\Ireland_trail_New.xlsx')

In [6]:
Mean = ratings.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(ratings,Mean,on='userId')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

,userId,User,Location,Trail_id,rating_x,rating_y,adg_rating
0,1,Lee4an,OLD GLENN HWY,303,4.0,4.366379,-0.366379
1,1,Partypooper009,EKLUTNA LAKE RD,107,4.0,4.366379,-0.366379
2,1,Jenna1021,EKLUTNA LAKE RD,437,4.0,4.366379,-0.366379
3,1,ALMEHZA_02,EKLUTNA LAKE RD,494,5.0,4.366379,0.633621
4,1,Fakehashish,EKLUTNA LAKE RD,188,5.0,4.366379,0.633621

In [7]:
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='Trail_id')
check.head()

Trail_id,1,2,3,4,5,6,7,8,9,10,...,708,709,710,711,712,713,714,715,716,717
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,5.0,NaN,5.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN
4,NaN,3.0,NaN,NaN,NaN,1.0,3.0,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN

In [8]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='Trail_id')
final.head()

Trail_id,1,2,3,4,5,6,7,8,9,10,...,708,709,710,711,712,713,714,715,716,717
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,0.633621,NaN,0.633621,NaN,NaN,0.633621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.935897,NaN,NaN
4,NaN,-0.555556,NaN,NaN,NaN,-2.555556,-0.555556,-0.055556,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.444444,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.636364,NaN,NaN

In [9]:
final_trail = final.fillna(final.mean(axis=0))

In [10]:
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [9]:
final_trail.head(5)

Trail_id,1,2,3,4,5,6,7,8,9,10,...,708,709,710,711,712,713,714,715,716,717
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.01922,0.017083,-0.075031,0.018335,0.633621,-0.104070,0.633621,0.144940,-0.166065,0.633621,...,0.205026,-0.016754,-0.061168,0.0132,-0.085097,-0.032059,-0.048657,-0.004319,0.083891,-0.07276
2,-0.01922,0.017083,-0.075031,0.018335,0.044666,-0.104070,0.086590,0.144940,-0.166065,-0.039983,...,0.205026,-0.016754,-0.061168,0.0132,-0.085097,-0.032059,-0.048657,-0.004319,0.083891,-0.07276
3,-0.01922,0.017083,-0.075031,0.018335,0.044666,-0.104070,0.086590,0.144940,-0.166065,-0.039983,...,0.205026,-0.016754,-0.061168,0.0132,-0.085097,-0.032059,-0.048657,-1.935897,0.083891,-0.07276
4,-0.01922,-0.555556,-0.075031,0.018335,0.044666,-2.555556,-0.555556,-0.055556,-0.166065,-0.039983,...,0.205026,-0.016754,-0.061168,0.0132,-0.085097,-0.032059,-0.048657,-0.004319,0.444444,-0.07276
5,-0.01922,0.017083,-0.075031,0.018335,0.044666,-0.104070,0.086590,0.144940,-0.166065,-0.039983,...,0.205026,-0.016754,-0.061168,0.0132,-0.085097,-0.032059,-0.048657,-0.636364,0.083891,-0.07276

In [10]:
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,-0.028217,-0.010506,0.038121,0.040883,0.060460,0.015366,0.030882,0.038953,0.001984,...,-0.087492,0.009650,0.026087,-0.041522,0.014262,0.014852,0.002644,0.041856,2.667037e-02,0.003686
2,-0.028217,0.000000,-0.032723,-0.003120,-0.020699,0.033783,0.037741,0.021346,-0.042354,-0.003212,...,-0.016608,0.025658,-0.029553,0.046543,-0.008774,0.004389,-0.056079,0.030936,-4.203672e-04,-0.014727
3,-0.010506,-0.032723,0.000000,-0.028467,0.059204,-0.011169,0.047197,-0.001014,0.029014,-0.010323,...,-0.020757,-0.040782,0.014606,0.044930,0.032293,0.013380,-0.069203,-0.030574,-1.398621e-16,-0.059586
4,0.038121,-0.003120,-0.028467,0.000000,0.015946,0.027611,-0.019964,-0.008066,-0.118876,-0.008744,...,0.060754,-0.026304,-0.069675,0.013002,-0.046946,-0.027117,0.018473,-0.033398,-3.638913e-02,-0.014804
5,0.040883,-0.020699,0.059204,0.015946,0.000000,-0.108929,0.026813,0.028144,0.016951,-0.006184,...,-0.015200,-0.086583,-0.006452,0.006310,0.012620,-0.063495,0.005465,-0.029893,4.916506e-02,0.029991

In [11]:
cosine = cosine_similarity(final_trail)
np.fill_diagonal(cosine, 0 )
similarity_with_trail = pd.DataFrame(cosine,index=final_trail.index)
similarity_with_trail.columns=final_user.index
similarity_with_trail.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.130470,0.025820,0.069741,0.135570,0.097227,0.051096,0.120877,0.093365,0.048788,...,0.040805,0.066818,0.041522,0.050344,0.054531,0.041377,0.054608,0.068776,0.183923,0.021349
2,0.130470,0.000000,0.119294,0.069683,0.211101,0.124290,0.140996,0.220045,0.112083,0.133020,...,0.235879,0.143747,0.024797,0.226337,0.065852,0.063248,0.071927,0.101315,0.374610,0.037561
3,0.025820,0.119294,0.000000,0.005608,0.138752,0.026131,0.081954,0.084601,0.065004,0.042957,...,0.079125,0.025349,0.028620,0.118379,0.066820,0.039388,-0.012497,0.009202,0.155513,-0.042918
4,0.069741,0.069683,0.005608,0.000000,0.067786,0.047231,0.006258,0.052460,-0.077656,0.028273,...,0.105552,0.012787,-0.057757,0.058204,-0.034986,-0.012620,0.045122,-0.017375,0.072440,-0.009921
5,0.135570,0.211101,0.138752,0.067786,0.000000,-0.035231,0.093090,0.181469,0.112617,0.090506,...,0.173494,0.022555,0.022136,0.146062,0.073489,-0.018162,0.103319,0.033759,0.307500,0.061483

In [12]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [13]:
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
userId,,,,,,,,,,,,,,,,,,,,,
1,70,477,376,518,210,570,532,543,310,281,...,12,468,193,567,513,594,338,67,264,58
2,190,542,136,595,248,226,597,110,138,271,...,512,338,533,460,383,77,125,447,262,235
3,258,55,451,324,461,83,516,393,548,436,...,465,468,552,450,452,91,5,447,34,30
4,154,452,413,307,535,537,406,51,350,77,...,372,159,132,558,601,191,344,415,530,139
5,427,351,340,88,95,264,335,313,116,182,...,212,467,76,301,595,597,136,483,359,102

In [14]:
sim_user_30_m = find_n_neighbours(similarity_with_trail,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
userId,,,,,,,,,,,,,,,,,,,,,
1,53,25,189,70,515,49,251,518,281,257,...,12,67,92,133,72,581,157,460,315,585
2,53,49,189,25,515,251,609,54,214,595,...,507,289,459,65,442,190,519,194,348,435
3,53,49,516,189,258,25,205,451,30,172,...,150,609,120,595,371,251,513,194,152,206
4,154,452,25,406,53,413,49,537,535,123,...,231,442,415,93,349,530,595,194,515,558
5,53,49,189,25,515,595,340,609,251,123,...,293,194,30,351,507,86,371,442,427,205

In [15]:
def get_user_similar_trails( user1, user2 ):
    common_trails = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "Trail_id",
    how = "inner" )
    return common_trails.merge( trails, on = 'Trail_id' )

In [16]:
a = get_user_similar_trails(25,49)
a = a.loc[ : , ['rating_x_x','rating_x_y','Name']]
a.head()

   rating_x_x  rating_x_y            Name
0         5.0         4.5  Lough Derg Way

In [17]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_trail.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_trail.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [18]:
score = User_item_score(320,25)
print("score (u,i) is",score)

score (u,i) is 3.4461905358868146

In [19]:
Rating_avg = Rating_avg.astype({"Trail_id": str})
Trail_user = Rating_avg.groupby(by = 'userId')['Trail_id'].apply(lambda x:','.join(x))

In [20]:
def User_item_score1(user):
    Trail_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Trail_user[Trail_user.index.isin(b)]
    l = ','.join(d.values)
    Trail_seen_by_similar_users = l.split(',')
    Trail_under_consideration = list(set(Trail_seen_by_similar_users)-set(list(map(str, Trail_seen_by_user))))
    Trail_under_consideration = list(map(int, Trail_under_consideration))
    score = []
    for item in Trail_under_consideration:
        c = final_trail.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_trail.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'Trail_id':Trail_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(10)
    Trail_Name = top_5_recommendation.merge(trails, how='inner', on='Trail_id')
    Trail_Names = Trail_Name.Trail_id.values.tolist()
    return Trail_Names

In [21]:
    predicted_trails = User_item_score1(600)
    print(" ")
#print("The Recommendations for User Id : 600")
    print("   ")
    for i in predicted_trails:
        print(i)

661
307
708
519
178
11
654
241
65
186

In [12]:
import import_ipynb
import UserbasedCF

importing Jupyter notebook from UserbasedCF.ipynb
score (u,i) is 3.4461905358868146


661
307
708
519
178
11
654
241
65
186